@media only screen and (min-width: 1000px) {
    .mobile-nav{
        display:none;
    }
    .desktop-nav{
        display:block;
    }
    .mobile-home{
        display: none;
    }
    .mobile-admin{
        display:none;
    }
}