.nav {
    background-color: black;
}
.bm-menu{
    background-color: white;
}
.bm-cross-button {
    background-image:url('../images/close.svg');
}

@media only screen and (max-width: 450px) {
    .App {
        background-color:red;
    }
    /* Sidebar styling */ 
    .mobile-nav{
        display:block;
    }
    .desktop-nav{
        display:none;
    }
    .bm-menu-wrap{
        max-width:280px;
    }
}
