@media only screen and (min-width: 451px) {
    .mobile-nav{
        display:block;
        padding:10px;
    }
    .desktop-nav{
        display:none;
    }
    .mobile-nav li {
        margin-top: 10px;
    }
    .mobile-home{
        display: block;
    }
}